<div id= "home-title">
	<h1>Maintenance Minder</h1> 
</div>

<div id= "signUpBackground"> 
	<img src="../assets/no-noise.jpg">
</div>


<div class= "signUp">
<h2>Sign up</h2>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field" id="signUpField">
    <%= f.label :name, :id => "signupTextAboveField" %>
    <%= f.text_field :name, autofocus: true %>
    <%= f.label :email, :id => "signupTextAboveField" %>
    <%= f.email_field :email %>
     <%= f.label :password, :id => "signupTextAboveField" %>
     <%= f.password_field :password, :id => "signupTextAboveField"%>
    <% if @minimum_password_length %>
    <%= f.label :password_confirmation, :id => "signupTextAboveField" %>
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
    <%= f.submit "Sign up", :id => "btn-color" %>
     <p> Minimum 6 characters </p>
    <% end %>
  </div>
  <% end %>
</div>