<!DOCTYPE html>

<html>
  <head>
     <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <%= csrf_meta_tags %>


          <title>MaintenanceMinder</title>


          <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>    
          <link rel="stylesheet" type="text/css" href= "../../assets/stylesheets/site.css">
              <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
              <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>


    <nav class="navbar navbar-default navbar-fixed-top">

    <div class="container-fluid">
   

    <!-- column for home link -->
      <div class= "col-xs-4 homeLink">
        <div class="navbar-header" >
          <a class="navbar-brand " href="/">Home</a>
        </div>
      </div>

      <!-- column for logo -->
      <div class="col-xs-4 logo">
        <div class="collapse navbar-collapse" >
        </div>
      </div>

      <!-- column for log in etc links -->
      <div class="col-xs-4 links">

        <ul class="nav navbar-nav navbar-right" >
          <li>
            <% if current_user %>
            
              <a class= "userName" href = "/users/edit" <h5> Hello, <%= current_user.name %> ! </h5> </a>
              <li class = "avatar"> 
                <%=image_tag current_user.avatar.url(:thumb) %> 
              </li>
            <% end %>
          </li>
          <li class= "navLogoutLink">
            <% if current_user %>
              <%= link_to "Log Out", destroy_user_session_path, :method => :delete %> 
          </li>
            <% end %>
          <% unless current_user %>
          <li class= "navLogIn">
            <%= link_to "Log In", user_session_path %>
          </li>
          <li class= "navSignUp">
            <%= link_to "Sign Up", new_user_registration_path %> 
          </li>
            <% end %>
        </ul>
      </div>
      </div>
      <!-- /.container-fluid -->
      </nav>
      <br>
    <%=yield %>
  </body>
</html>






